/*Miscellaneous*/
.gray{color: gray;}
.br{ height: 1px !important; font-size: 1px !important; padding: 0px !important; margin: 0px !important; clear: both !important; float: none !important; display: block !important; width: 100% !important; border: 0 !important; }
.clearfix:before,.clearfix:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both}.clearfix{zoom:1}
.fr{ float: right !important; }
.fl{ float: left !important; }
.txt_c{ text-align: center; }
.txt_r{ text-align: right; }
.txt_l{ text-align: left; }
.no_padding{ padding: 0!important; }
.no_margin{ margin: 0!important; }
.auto-margin { margin: 0 auto!important; }
.empty_tr,.empty_tr td{ padding: 0; margin: 0; height: 0; font-size: 0; }
.margin15 {margin-top: 15px!important;}
.padding15 {padding-bottom: 15px!important;}
.no_float {float: none!important; *float: left!important;}
.no_bg {background: none!important;}
.hidden {display: none;}
.hide{display:none;}
.inline-block{display:inline-block; }
.z-index { z-index: 11;}
.b_head.clearfix.mb40 { margin-bottom: 40px; }
.fmr { float: right !important; margin-right: 15px !important; }

.b:before, .b:after { content:'\0020'; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.b:after { clear:both; }
.b { margin: 0 0 0 30px; position: relative; zoom:1;}
.full-width .b { margin: 0 0 0 2.4%; position: relative; zoom:1;}
.b:first-child { margin: 0; }

.p:after { clear:both; }
.p { padding-left: 30px; position: relative; zoom: 1;}
.p:first-child { padding: 0px;}

#content ul ul, #content ol ol, #content ul ol, #content ol ul { margin-bottom: 0; }
#content pre, #content kbd, #content tt, #content var { font-size: 15px; line-height: 21px; }
#content code { font-size: 13px; }
#content dt, #content th { color: #000; }
/* table { border: 1px solid #e7e7e7; margin: 0 -1px 24px 0; text-align: left; width: 100%; } */
#content tr th, #content thead th { font-weight: bold; padding: 10px; }
#entry-author-info { background: #f2f7fc; border-top: 4px solid #000; clear: both; font-size: 14px; line-height: 20px; margin: 24px 0; overflow: hidden; padding: 18px 20px; }
#entry-author-info #author-avatar { background: #fff; border: 1px solid #e7e7e7; float: left; height: 60px; margin: 0 -104px 0 0; padding: 11px; }
#entry-author-info #author-description {	float: left; margin: 0 0 0 104px; }
#entry-author-info h2 { color: #000; font-size: 100%; font-weight: bold; margin-bottom: 0; }
.entry-utility { clear: both; color: #888; font-size: 12px; line-height: 1.6em; }
.entry-utility a { color: #888; }
.entry-utility a:hover { color: #ff4b33; }
.video-player { padding: 0; }
.sticky { }
.bypostauthor { }

/*Buttons*/
p.button, p.form-submit, p.submit, p.login-submit { margin: 0 20px 0 0; padding: 0; height:32px; width: auto; position: relative; cursor: pointer; background: url(../images/button.bg.png) no-repeat left 0; float: left; }
p.button a, p.button input, p.form-submit input, p.submit input, p.login-submit input{ float: left; height:32px!important; line-height:32px!important; margin: 0 -20px 0 0!important; padding: 0 20px; border: none; cursor: pointer; color: #3f4950; background: url(../images/button.bg.png) no-repeat right -32px; width: auto!important; text-shadow: 0 1px 0 #fff; }

p.button:hover, p.form-submit:hover, p.submit:hover {background-position: left -64px;}
p.button a:hover, p.button input:hover, p.form-submit input:hover, p.submit input:hover{text-decoration: none; background-position: right -96px;}

p.button input[disabled], p.form-submit input[disabled], p.submit input[disabled], p.login-submit input[disabled] { background: none; }

.widget .quick-contact p.button { clear: both; }

/*Blue*/
p.button.blue, p.form-submit.blue, p.submit.blue { background-position: left -128px; }
p.button.blue a, p.button.blue input, p.form-submit.blue input, p.submit.blue input{ background-position: right -160px; color: white; text-shadow: 0 -1px 0 #32719d; }

p.button.blue:hover, p.form-submit.blue:hover, p.submit.blue:hover { background-position: left -192px;}
p.button.blue a:hover, p.button.blue input:hover, p.form-submit.blue input:hover, p.submit.blue input:hover{ background-position: right -224px; }

.night p.button, .night p.form-submit, .night p.submit { background: url(../images/button.bg.png) no-repeat left -492px; }
.night p.button a, .night p.button input, .night p.form-submit input, .night p.submit input{ background: url(../images/button.bg.png) no-repeat right -524px; color: white; text-shadow: none;}
.night p.button:hover, .night p.form-submit:hover, .night p.submit:hover {background-position: left -492px;}
.night p.button a:hover, .night p.button input:hover, .night p.form-submit input:hover, .night p.submit input:hover{ background-position: right -524px;}

.night p.button input[disabled], .night p.form-submit input[disabled], .night p.submit input[disabled] { background: none; }

/*New Blue*/
p.button.newblue, p.form-submit.newblue, p.submit.newblue, p.login-submit { background-position: left -444px; height: 24px; }
p.button.newblue a, p.button.newblue input, p.form-submit.newblue input, p.submit.newblue input, p.login-submit input { background-position: right -468px; color: white; text-shadow: 0 -1px 0 #32719d; height:24px!important; line-height:24px!important; padding: 0 11px; }

.night p.button.newblue, .night p.form-submit.newblue, .night p.submit.newblue, .night p.login-submit { background-position: left -556px; height: 24px; }
.night p.button.newblue a, .night p.button.newblue input, .night p.form-submit.newblue input, .night p.submit.newblue input, .night p.login-submit input { background-position: right -580px; color: white; text-shadow: none; height:24px!important; line-height:24px!important; padding: 0 11px; }

/* Litebox Login form */
#demo-container p.login-submit { background-position: left -128px; height: 32px !important; line-height: 32px !important; }
#demo-container p.login-submit input { background-position: right -160px; color: white; text-shadow: 0 -1px 0 #32719d; height: 32px !important; line-height: 32px !important; }

.night #demo-container p.login-submit { background: url(../images/button.bg.png) no-repeat left -492px; height: 32px !important; line-height: 32px !important; }
.night #demo-container p.login-submit input { background: url(../images/button.bg.png) no-repeat right -524px; color: white; text-shadow: none; height: 32px !important; line-height: 32px !important; }

/*Red*/
p.button.red, p.form-submit.red, p.submit.red { background-position: left -256px;}
p.button.red a, p.button.red input, p.form-submit.red input, p.submit.red input{ background-position: right -288px; color: white; text-shadow: 0 -1px 0 #ae2d2d;}

p.button.red:hover, p.form-submit.red:hover, p.submit.red:hover { background-position: left -320px;}
p.button.red a:hover, p.button.red input:hover, p.form-submit.red input:hover, p.submit.red input:hover{ background-position: right -352px; }

/*Red*/
p.button.search, p.form-submit.search, p.submit.search { background-position: left -384px; border: 1px solid #F1F1F1; height:30px!important; line-height:30px!important; margin-right: 0px; }
.full-width p.button.search a, .full-width p.button.search input, .full-width p.form-submit.search input, .full-width p.submit.search input{ background-position: right -414px; margin: 0px !important; height:30px!important; line-height:30px!important; padding-right: 17px;}
p.button.search a, p.button.search input, p.form-submit.search input, p.submit.search input { background-position: right -414px; margin: 0px !important; height:30px!important; line-height:30px!important; padding-right: 7px;}

p.button.add-to-cart {height:24px; margin: 0 10px 0 0; background: url(../images/button.bg.small.png) no-repeat left -96px;}
p.button.add-to-cart a {height:24px!important; line-height:24px!important; margin: 0 -10px 0 0!important; background: url(../images/button.bg.small.png) no-repeat right -120px; }
p.button.add-to-cart a span { padding-left: 28px; background: url(../images/cart.png) no-repeat 0 0px; font-size: 12px; color: #3F4950;}
p.button.add-to-cart a span:hover { background-position: 0 -16px;}

/*Delimiter*/
.delimiter {width: 100%!important; margin: 20px auto!important; height: 2px; float: left; background: url(../images/delimiter.bg.x.png) repeat-x 0 0;}
.night .delimiter {width: 100%!important; margin: 20px auto!important; height: 2px; float: left; background: url(../images/delimiter.bg.x.night.png) repeat-x 0 0;}
.delimiter.blank {margin: 15px auto!important; background: none; height: 0px;}
.delimiter.noslide {margin: 0 auto 30px 0!important;}
.widget .delimiter, #comments .delimiter, .box-related .delimiter { margin: 15px auto!important;}

/* WP Styles */
.aligncenter, div.aligncenter { display: block; margin-left: auto; margin-right: auto;	}
.alignleft { float: left; }
.alignright { float: right; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin: 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }
.gallery-caption {}

.night .wp-caption { color: #a1a1a1; }